:root {
  --primary-color: #f9f7fe;
  --secondary: #272142;
  --branding: #662eed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: var(--secondary);
}
p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  /* line-height: 30px; */
  color: var(--secondary);
}
body {
  max-width: 100%;
}
nav {
  padding: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;

  margin-left: 15px;
}
nav li a {
  font-size: 14px;
  text-decoration: none;
  margin: 10px;
  color: var(--secondary);
}
a:hover,
.active {
  color: var(--branding);
}
.overlay {
  position: relative;
  max-width: 100%;
}
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-block h1 {
  color: white;
}
.text-block p {
  font-size: 24px;
  color: white;
}

.row h5 {
  font-size: 18px;
}
.footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
}
.social-link a {
  margin: 0 20px;
  color: var(--branding-color);
  border-radius: 50%;
  font-size: 18px;
}

.socials p {
  margin: 0;
  padding: 0;
}
.Recipe {
  display: flex;
  justify-content: center;
}
.underline {
  border: 1px dashed #67d5d2;
  width: 820px;
  margin-top: 20px;
}
.under {
  border: 1px dashed #67d5d2;
  width: 400px;
  /* margin-top: 10px; */
}
.step {
  color: #f65282;
}
.step-text {
}
.footer p {
  margin: 0;
}
.contact {
  color: var(--branding);
}

@media (max-width: 900px) {
  .image {
    max-width: 60px;
  }
  li {
    font-size: 48px;
  }

  .row img {
    width: 100%;
    align-items: center;
    display: inline;
  }
  .row h5 {
    font-size: 14px;
  }
  .footer {
    /* padding: 5px; */
  }
  .footer img {
    max-width: 60px;
  }
  .about-container {
    display: inline;
    align-items: center;
    /* text-align: center; */
  }
  .about-container img {
    width: 350px;
  }
  .about-container h1 {
    font-size: 40px;
  }
  .about-container p {
    font-size: 18px;
  }
  .about-text {
    text-align: center;
    width: auto;
  }

  .underline {
    width: 390px;
  }
  .step {
    margin-top: 20px;
  }
  .contact-info {
    display: inline;
    align-items: center;
  }
  .contact {
    margin: 10px;
  }
  /* .under {
    width: 200px;
  } */
}
